@import url(https://fonts.googleapis.com/css?family=League+Spartan:100,200,300,regular,500,600,700,800,900);

:root {
	--bg: #3a4663;
	--text-color: white;
	--bg-color: #181f33;
	--bg-box-button-color: #242d44;
	--bg-button-color: #eae3dc;
	--box-shadow-button-color: #b3a497;
	--button-text-color: #434a59;
	--reset-background-color: #647198;
	--reset-box-shadow-color: #414e73;
	--calc-bg-color: #d03f2f;
	--calc-box-shadow: #93261a;
	--del-bg-color: #647198;
	--div-button-bg: #fffffe;
	--div-button-reset-del-color: #a2b2e1;
	--div-button-calc-color: #f96b5b;
}

* {
	font-family: League Spartan;
	padding: 0;
	margin: 0;
}

body {
	background-color: var(--bg);
	padding: 15px;
	height: 90vh;
}

.page {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100%;
}

.calculator {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.HeadCalc {
	color: var(--text-color);
}

.HeadCalc > button {
	height: 20px;
	width: 20px;
}

.screen {
	background-color: var(--bg-color);
	padding: 20px;
	border-radius: 15px;
	width: 260px;
	font-size: 2rem;
	color: var(--text-color);
	font-weight: bolder;
	display: flex;
	flex-direction: row-reverse;
	margin-bottom: 30px;
}

.button {
	background-color: var(--bg-box-button-color);
	width: 260px;
	padding: 15px;
	border-radius: 15px;
}

.button > div {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
}

.button > div > button {
	background-color: var(--bg-button-color);
	box-shadow: 0px -4px 0px 0px var(--box-shadow-button-color) inset;
	border: 0;
	margin: 5px;
	height: 50px;
	width: 50px;
	border-radius: 5px;
	color: var(--button-text-color);
	font-weight: bolder;
	font-size: 2rem;
}

.button > .part5 {
	grid-template-columns: 1fr 1fr;
}

#reset {
	background-color: var(--reset-background-color);
	box-shadow: 0px -4px 0px 0px var(--reset-box-shadow-color) inset;
	color: var(--text-color);
	width: 85%;
	font-size: 1rem;
}

#calc {
	background-color: var(--calc-bg-color);
	box-shadow: 0px -4px 0px 0px var(--calc-box-shadow) inset;
	color: var(--text-color);
	width: 85%;
	font-size: 1rem;
}

#del {
	background-color: var(--del-bg-color);
	box-shadow: 0px -4px 0px 0px var(--reset-box-shadow-color) inset;
	color: var(--text-color);
	font-size: 1rem;
}

@media screen and (min-width: 720px) {
	.button > div > button {
		margin: 5px;
		height: 50px;
		width: 80px;
		font-size: 2rem;
	}
	.screen {
		width: 380px;
	}
	.button {
		width: 380px;
	}
	#reset,
	#calc {
		width: 90%;
	}
	#reset,
	#calc,
	#del {
		font-size: 1.5rem;
	}
	.button > div > button:hover {
		background: var(--div-button-bg);
	}
	.button > div > #reset:hover,
	#del:hover {
		background: var(--div-button-reset-del-color);
	}

	.button > div > #calc:hover {
		background: var(--div-button-calc-color);
	}
}
